div footer {
  /*======width: 375px;TELA MOBILE=*/

  margin-bottom: 0rem;
  margin-top: 4rem;
  background-color: var(--primary-color);
  display: flex;
  flex-direction: row;
}

.containerOnly {
  padding-top: 0rem;
  width: 100rem;
  margin: auto;
  justify-content: left;

  background-color: var(--brnad-light2);
}
.articleTitle {
  display: flex;
  margin: auto;
  padding: auto;
  margin-top: 10rem;
  align-items: center;
}
.title {
  font-size: 5rem;
  position: absolute;
  top: 30rem;
  left: 20rem;
  color: var(--brnad-light2);
}

.titleTable {
  color: var(--primary-color);
  margin-left: 30rem;
}

.titlePt {
  margin-left: 5rem;
  font-size: 3rem;
}

.paragraphPt {
  font-size: 1.6rem;
}
.imageOne {
  width: 100rem;
  height: 40rem;
  border-radius: 1rem;
  display: flex;
  margin: auto;
}

.containerOnly h1 {
  color: var(--brand-dark);
  padding-top: 1rem;
  padding-bottom: 3rem;
}

.containerOnly p {
  width: auto;
  text-align: left;
  padding: 7rem;
}

.list {
  display: block;
  float: left;
  padding-left: 40rem;
  width: 100rem;
font-size: 1rem;
}
