/* ==================GERAL=====================*/

    :root {
      --primary-color: hsl(170, 100%, 26%);
      --headline: hsl(210, 11%, 15%);
      --paragraph: hsl(210, 9%, 31%);
      --background-button: hsl(0, 0%, 100%);
      --brand-beige: hsl(39, 100%, 97%);
      --brand-light: hsl(148, 23%, 89%);
      --brnad-light2: hsl(180, 14%, 97%);
      --brand-dark: hsl(170, 100%, 14%);
    
      --nav-height: 7.2rem;
    
      font-size: 62.5%; /* 1rem = 10px */
    }

    body {
      font-family: "DM Sans";
      font-size: 1.6rem;
      background-color: none;
      text-align: center;
      overflow: overlay;
      background:none;
    }
    
    div footer {
        /*======width: 375px;TELA MOBILE=*/
        
        margin-bottom: 0rem;
        margin-top: 4rem;
        background-color: var(--primary-color);
        display: flex;
        flex-direction: row;
      }
  
      .containerOnly {
        padding-top: 0rem;
        width: 100rem;
        margin: auto;
        justify-content:left;

        background-color: var(--brnad-light2);
      }

.title {
  font-size: 5rem;
  position: absolute;
  top: 30rem;
  left: 20rem;
  color: var(--brnad-light2);
}
.imageOne {
  width: 100rem;
  height: 40rem;
  border-radius: 1rem;
}

.containerOnly h1 {
  color: var(--brand-dark);
  padding-top: 1rem;
  padding-bottom: 3rem;
}

.containerOnly p {
  width: auto;
  text-align: left;
  padding: 7rem;
}

.list {
  display: block;
  float: left;
  padding-left: 10rem;
}

.subList {
  list-style:numeral;
  padding-top: 2rem;
  text-align: left;
  padding-left: 3rem;

}