/* ==================GERAL=====================*/
  
:root {
  --primary-color: hsl(170, 100%, 26%);
  --headline: hsl(210, 11%, 15%);
  --paragraph: hsl(210, 9%, 31%);
  --background-button: hsl(0, 0%, 100%);
  --brand-beige: hsl(39, 100%, 97%);
  --brand-light: hsl(148, 23%, 89%);
  --brnad-light2: hsl(180, 14%, 97%);
  --brand-dark: hsl(170, 100%, 14%);
    
  --nav-height: 7.2rem;
    
  font-size: 62.5%; /* 1rem = 10px */
  }
    
.formGeneral {
  width:100rem;
  font-family: "DM Sans";
  font-size: 1.4rem;
  background-color: var(--brnad-light2);
  text-align: center;
  overflow: overlay;
  align-items: center;
  padding-top: 10rem;
  margin: auto;
  border-radius: 2rem;
    }

.form {
  padding: auto;
  width: 80rem;
  margin: auto;
}