/* ==================GERAL=====================*/
* {
  margin: 0;
  box-sizing: border-box;
}
  
html {
  scroll-behavior: smooth;
}

  :root {
    --primary-color: hsl(170, 100%, 26%);
    --headline: hsl(210, 11%, 15%);
    --paragraph: hsl(210, 9%, 31%);
    --background-button: hsl(0, 0%, 100%);
    --brand-beige: hsl(39, 100%, 97%);
    --brand-light: hsl(148, 23%, 89%);
    --brnad-light2: hsl(180, 14%, 97%);
    --brand-dark: hsl(170, 100%, 14%);
  
    --nav-height: 7.2rem;
  
    font-size: 62.5%; /* 1rem = 10px */
  }
  
  body {
    font-family: "DM Sans";
    font-size: 1.6rem;
    background-color: none;
    text-align: center;
    overflow: overlay;
    background:none;
  }
  
 
  
  /* ==================NAVIGATION=====================*/
  
  nav.scroll {
    width: 100vw;
    margin-right: auto;
    margin-left: auto;
    height: var(--nav-height);
    position: fixed;
    top: 0;
  
    background-color: var(--primary-color);
  }
  
  body nav  div img.logotipo {
    width: 10rem;
    margin-left: 0;
    padding-left: 0;
    background: none;
    position: absolute;
  
  }
  
  body .wrapper {
    background-color: var(--primary-color);
    width: 100%;
    height: var(--nav-height);
  
    margin-right: 0;
    margin-left: 0;
    align-items: center;
    display: flex;
    justify-content: space-between;
  
    padding-block: 1.6rem;
    padding-inline: 2.4remrem;
  
    position: fixed;
    top: 0;
    left: 0;
    left: 50%;
    z-index: +1;
    transform: translateX(-50%);
  
  }
  
  nav .wrapper svg:nth-child(1) path {
    stroke: white;
  }
  
  /* ==================NAVIGATION MENU=====================*/
  body .menu {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    position: absolute;
    transform: translateY(100%);
  }
  
  body div.menu,
  body button.closeButton {
    visibility: hidden;
  }
  
  body.menu-expanded div.menu {
    position: fixed;
    top: 0;
    left: 0;
    transform: translateY(0%);
    transition: transform 300ms;
  
    width: 100vw;
    height: 100vh;
  
    padding-top: var(--nav-height);
  }
  
  body.menu-expanded  nav button.closeButton {
    background: none;
    display: flex;
    width: 3rem;
    height: 3rem;
    margin-left: 33.5rem;
    padding-inline: 0rem;
    padding-block: 0rem;
    
  
  }
  
  body nav {
    z-index: +1;
  }
  
  body.menu-expanded div.menu,
  body.menu-expanded button.closeButton {
    visibility: visible;
    position: fixed;
    background-color: var(--primary-color);
  }
  
  body.menu-expanded {
    overflow: hidden;
    width: 100%;
  }
  
  body.menu-expanded > :not(nav) {
    display: none;
  }
  
  body.menu-expanded nav {
    position: relative;
  
  }
  
  body.menu-expanded div.menu {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--primary-color);
    margin: 0;
  }
  nav button {
    border: none;
    background-color: none;
    cursor: pointer;
  }
  body.menu-expanded .buttonMenu {
    background-color: var(--brand-beige);
    visibility: visible;
    transition: 300ms;
  }
  
  body.menu-expanded .buttonMenu:hover {
    background-color: var(--primary-color);
    color: var(--brand-beige);
    border-color: var(--brand-dark);
  }
  
  body .buttonMenu {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    width: 27.4rem;
    height: 5.5rem;
  
    border-radius: 4rem;
    margin-top: 5rem;
  
    font-family: "DM Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 1.8rem;
    line-height: 2.3rem;
    text-transform: uppercase;
    text-decoration: none;
  
    color: var(--primary-color);
  }
  
  body.menu-expanded nav button.openButton {
    background: none;
    visibility: hidden;
    
  }
  body nav button.openButton {
    background: none;
    margin-left: calc(37.5rem - 17rem);
  
    
  }
  
  body .socialLinks {
    justify-content: center;
    display: flex;
    margin: auto;
    padding: 0;
    align-items: center;
  }
  
  body .socialLogo,
  .instagram,
  .facebook,
  .google {
    display: flex;
    flex-direction: row;
    padding: 1rem;
    align-items: center;
  }
  
  body nav li.list {
    padding: 4.7rem;
  
    font-family: "DM Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 3.1rem;
    text-align: center;
  
    color: var(--brand-beige);
  }
  
  body ul {
    padding: 0;
    margin: 0;
    list-style: none;
  }
  
  body .listLink {
    color: var(--brand-beige);
    text-decoration: none;
  }
  
  /* =======TAGS SEMANTICAS - HEADER =====================*/
  
  header::before {
    content: "";
    display: block;
  
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    height: calc(95rem + var(--nav-height));
    width: 100%;
    background-image: url("../assets/paraty1.jpg");
   background-color: var(--brand-light);
  }
  header {
    margin-right: auto;
    margin-left: auto;
    padding-top: calc(4.1rem + var(--nav-height));
    /*width: 37rem;*/
    align-items: center;
    display: block;
    background: var(--brand-light);
    z-index:-2;
    position:absolute;
    width: 100vw;
    
  }
  
  ul {
    list-style: none;
  }
  
  a {
    text-decoration: none;
    style-decoration: none;
  }

  header h4 {
    font-size: 1.4rem;
    color: var(--primary-color);
    margin-bottom: 1.6rem;
  }
  
  header h1 {
    font-size: 3.4rem;
    color: var(--headline);
    line-height: 130%;
  
    margin-bottom: 2.4rem;
  }
  
  header h1.card{
    font-size: 2.4rem;
  }
  
  header p {
    font-size: 1.8rem;
    line-height: 150%;
    font-weight: 400;
    color: var(--paragraph);
  
    margin-bottom: 3.2rem;
  }
  
  header button {
    /*container do botão*/
    border: 0.1rem, solid;
    border-radius: 4rem;
    margin-bottom: 6rem;
    height: 3.8rem;
    width: 19rem;
  
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.6rem;
  
    margin-right: auto;
    margin-left: auto;
  }
  
  header header {
    color: var(--primary-color);
    width: 136.6rem;
    height: 7.2rem;
    display: flex;
    position: relative;
    width: 3.75rem;
    height: 7.2rem;
    left: 0rem;
    top: 0rem;
  }
  
  header header div {
    font-size: 1.4rem;
    color: var(--primary-color);
    display: flex;
    width: 350px;
    height: 47px;
  
    margin-right: auto;
    margin-left: auto;
  }
  
  /* ==================CLASSES=====================*/
  .containerLogotipo {
    display: flex;
    flex-direction: row;
  }

  .logoContainerLogotipo {
    width: 30rem;
    height: 30rem;
    margin-top: 0px;
  }
  
  .logoContainerImage {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .subtittleStart {
    color: var(--brand-light);
    font-size: 1.8rem;
  
    line-height: 200%;
  }
  .start {
    display: flex;
    flex-direction: row;
  }
  
  .containerStart {
    display: flex;
    flex-direction: column;
    align-items: center;

  }

  .percentContainerStart {
    font-size: 5.8rem;
  
    line-height: 130%;
    gap: 0.4rem;
    margin-top: 4rem;
  
    color: var(--headline);
  }

  .iconStart {
    display: flex;
    flex-direction: row;
    margin-left: 3rem;
    margin-right: 3rem;
    
  }

  .stars {
    width: 4rem;
    height: 4rem;
    margin-top: 4.5rem;
    margin-left: 1rem ;
    position: relative;
  }

  .tourismText {
    margin-left: 4rem;
  }

  .intro {
    color:var(--brand-dark);
    padding: 10px;
    width: 30rem;
  }

  .containerCoconut {
    display: flex;
    flex-direction: row;
  }
  .coconut {
    width: 20rem;
    height: 20rem;
    position: absolute;
    right: 65rem;
    transform: rotate(-33deg);
  }

  .flip {
    width: 8rem;
    height: 8rem;
    position: absolute;
    right: 10rem;
    top: 33rem;
    transform: rotate(15deg);
  }

  .showcase img {
    width: 100%;
    height: 100vh;
    position: absolute;
    top:0;
    left:0;
    object-fit: cover;
  }

  .showtext {
    mix-blend-mode: hard-light;
    color: #fff;
    -webkit-text-stroke: 1px #FFF;
    text-stroke: 1px #FFF;
 }
  .containerImages {
    display: flex;
    flex-direction: row;
    width: 100vw;
    align-items: center;
    justify-content: center;
  }

  .containerInfoImage {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 5rem;
  }

  .conteinerLogotipoText {
    background-image: url("../assets/backgroundCard_resized.png");
    border-radius: 2rem;
    width: 50rem;
    height: 37rem;

    margin-left: 20rem;

    position: relative;
  }

  .imageWoman {
    display: block;
    margin: 0px;
    object-position: 0 3rem;
 
  }

  .imageReview {
    width: 15rem;
    height: 15rem;
    position: relative;
    bottom: 9.5rem;
    display: block;
    margin: 0px;
    object-position: 1 2rem;  
  }

  .imageTraveler {
    width: 14.5rem;
    height: 14.5rem;
    position: relative;
    bottom: 10.5rem;
    display: block;
    margin: 0px;
    object-position: 1 2rem; 
  }
  
  .containerInfo {
    padding-block: 1rem;
    margin-inline: auto;
  
    border: 1px solid var(--brand-light);
    border-radius: 0.6rem;
  
    display: flex;
    flex-direction: column;
    justify-content: center;
  
    height: 470px;
    width: 34.3rem;
   
  
    background-color: var(--brand-beige);
  }
  
  .numeros {
    font-size: 4.8rem;
  
    line-height: 130%;
    gap: 0.4rem;
    margin-top: 4rem;
  
    color: var(--headline);
  }

  .p1 {
    margin: 0;
    font-size: 1.6rem;
    line-height: 150%;
  
    color: var(--primary-color);
  }

  #houseLinks {
    text-decoration: none;
    color: var(--headline);
  }

  .titleServices {
   width: 50vw;
   padding-right: 4rem;
   position: relative;
  }

  .services {
  }
  @media screen and (min-width:799px) {
 

    .services {
      background-color: var(--brand-light);
      padding-top: 10rem;
      padding-bottom:5rem;
      padding-left: 10rem;
      display: flex;
      flex-direction: row;
    }
    .titleServices {
     color: hsl(210, 11%, 15%);
  
    }

  }

  .containersInfo {
  display: flex;
  flex-direction: row;
  }

@media screen and (max-width:800px) {
  header div.services {
    background: none;
    padding-top: 0%;

    padding-block: 1rem;
    margin-left: auto;
  
  }

  .box {
    background: transparent;
    perspective: 600px;
    width: 20.7rem;
    height: 20.7rem;
    margin-top: 5rem;

  }
  .box__content {
    width: 20.7rem;
    height: 20.7rem;
    margin-left:  15rem; 


  }
  header {
    width: 100%;
  }
  .containerInfo {
    padding-block: 1rem;
    margin-inline: auto;
    margin-top: 1rem;
    margin-bottom: 3rem;

  
    border: 1px solid var(--brand-light);
    border-radius: 0.6rem;
  
    display: flex;
    flex-direction:column;
  
    height: 470px;
    min-width:320px;
    max-width:800px;
  
    background-color: var(--brand-beige);
  }
    header div div .CardContainer {
      width: 20.7rem;
      height: 20.7rem;
      background-color: none;
    }

    .containersInfo {
      display: flex;
      flex-direction: column;
    }
  }

  .containerInfoRight {
   
  }
  
  .containerGuestReview {
   display: flex;
   flex-direction: row;
  }

  .h3-right {
    text-align: left;
    padding-left: 1rem;;
    width: 20rem;
    font-size: 15px;
    color: var(--primary-color);
  }
  .p1-right {
    font-size: 13px;
    width: 23rem;
    margin-left: 1rem;
  }

  .imageUser {
    width: 2rem;
    height: 2rem;
    margin-left: 3rem;
  }

  .userRating {
    width: 5rem;
    height: 4rem;
  }

  .imgCard {
    margin-right: 10rem;
    margin-top: 0.5rem;
    margin-left: 0rem;
    position: relative;
  }
  .card {
    position: static;
    width: 24.8rem;
    height: 3.1rem;
    left: 2.4rem;
    top: 6.4rem;
    align-items: center;
    font-family: "DM Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 3.1rem;
    text-align: center;
    /* Secondary Colors/gray-headline */
    color: #212529;
  }
  .titulo {
    margin-top: 5rem;
    font-family: "DM Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 1.4rem;
    line-height: 150%;
    text-transform: uppercase;
    letter-spacing: 0em;
  
    /* Primary Colors/brand-green */
    color: var(--primary-color);
  }
  
  header article.SobreNosArtigo {
    font-family: "DM Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 1.6rem;
    padding-top: 3rem;
    margin-top: 5rem;
    line-height: 150%;
    padding: 2.4rem;
    color: var(--paragraph);
  }

  .tripAdvisor {
    width: 10rem;
    height: 9.3rem;
  }
  
  header div div .CardContainer {
   

    align-items: flex-start;
    display: flex;
    justify-content: center;
    flex-direction: column;
    box-sizing: border-box;
    width: 30rem;
    height: 20.7rem;
    margin-left: 2.4rem;
    margin-right: 2.4rem;
    margin-top: 2.4rem;
    padding: 2.4rem;

  
    /* Primary Colors/brand-green-light
      margin-left: 2.4rem;
    margin-right: 2.4rem;
    margin-top: 2.4rem;
    padding: 2.4rem; */
    border: 1px solid #dce9e2;
    border-radius: 6px;
  
    /* Secondary Colors/White */
    background: #ffffff;
  }
  
  .sobreNos {
    background: white;
    border-radius: 1.3rem;
    padding: 2.4rem;
    margin:auto;
    min-width:320px;
    max-width:800px;
  }
  
  .imageSobreNos {
    width: 32.7rem;
    height: 282px;
  
    border-radius: 2rem;
  
    margin-left: 2.4rem;
    margin-right: 2.4rem;

    margin-bottom: 1rem;
    margin-top: 6rem;
  }
  .contato {
    background-color: #ffffff;
    margin:auto;
    margin-top: 3rem;
    margin-bottom: 5rem;
    padding-left: 3rem;
    padding-top: 5rem;

    min-width:320px;
    max-width:800px;

    height: 45rem;

    border-radius: 1.3rem;
  }
  
  .tituloContato {
    font-family: "DM Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 3rem;
    text-align: left;
  
    margin-right: 5.4rem;
    margin-left: 2.4rem;
    padding-top: 2.5rem;
  
    color: var(--headline);
  }

  .buttonContact {
    margin-bottom:3rem;
  }
  
  .contactIcon {
    margin-left: 0.8rem;
  }

  header p.info {
    font-family: "DM Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 1.6rem;
    text-align: left;
    margin-left: 2rem;
    color: var(--paragraph);
  }
  
  #buttonTop {
    /*=====container do botão=====*/
    margin-bottom: 6rem;
    margin-right: auto;
    margin-left: auto;
    border-radius: 4rem;
    border: none;
    height: 5.6rem;
    width: 26.7rem;
  
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.6rem;
  
    transition: 200ms;
    /*=====escrita do botao======*/
  
    font-size: 1.4rem;
    text-transform: uppercase;
    font-family: "DM Sans";
    font-style: normal;
    font-weight: 1.8rem;
  
    color: var(--brand-beige);
    background-color: var(--primary-color);
  }
  
  #buttonTop:hover {
    background-color: var(--brand-dark);
    
    
  }
  
  #buttonBottom:hover {
    background-color: var(--brand-dark);
    
  }
  #buttonBottom {
    /*=====container do botao=====*/
    margin-bottom: 4rem;
    margin-right: auto;
    margin-left: auto;
    border-radius: 4rem;
    border: none;
    height: 5.6rem;
    width: 26.7rem;
  
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.6rem;
    transition: 200ms;

  /*=====escrita do botao======*/
  
    font-size: 1.4rem;
    text-transform: uppercase;
    font-family: "DM Sans";
    font-style: normal;
    font-weight: 1.8rem;
  
    color: var(--brand-beige);
    background-color: var(--primary-color);
  }
   img.imgLogo {
    width: 10rem;
    height: 6rem;
    position: absolute;
    left: 75vw;
    bottom: 13rem;
  /*
    align-items: center;
    margin-top: 1.2rem;
*/
  }
  
  header footer {
    /*width: 375px;TELA MOBILE*/
    height: 285px;
    margin-bottom: 0rem;
  
    background-color: var(--primary-color);
  }
  
  .paragrafoFooter {
    font-family: "DM Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 1.6rem;
  
    margin: auto;
    text-align: left;
    margin-left: 2.4rem;
  
    color: #fffaf1;
  }
  
  header footer h1.logo {
    font-weight: 100;
    text-align: left;
    margin-left: 2.6rem;
    padding-top: 6rem;
  
    color: var(--brand-beige);
  }
  
  footer .socialLinks {
    justify-content: flex-start;
    //display: flex;
    //margin: auto;
    //padding: 0;
    //align-items: center;
    //width:0rem;
  
  }

   .certificates {
    width: 30rem;
    align-items: left;

  }

   .linkCertificates {
    width:3rem;
    height:3rem;

    margin-bottom: 0.2rem;

  }
  .infoMaps {
   display:flex;
   flex-direction: row;
  }

  .contactsIcon {
    width: 4rem;
    height: 4rem;
  }


   .linkCertificatesBooking {
    width:7rem;
    height:3.5rem;

    margin-left: 1.2rem;

    
  }
  
  footer div.socialLinks ul li  a svg path.pathgoogle {
    fill: white;
  }
  
  #buttonFloat {
    position: fixed;
    bottom: 1rem;
    right: 2rem;
    visibility: visible;
  
    transform: translateY(100%);
    transition: transform 300ms;
  
  }
  
  #buttonFloat.show {
    visibility: visible;
  
    transform: translateY(0);
  
  }

  .iconDestine {
    position: absolute;
    width: 15rem;
    height: 15rem;
    left: 7rem;
    top:145rem;
  }

  .box {
    background: transparent;
    perspective: 100 0px;
    width: 30.7rem;
    height: 20.7rem;
    position: relative;
    padding: 0px;
    margin-left: 2rem;
  }

  .box__content {
    background: var(--brand-beige);
    border-radius: 3rem;
    width: 30.7rem;
    height: 20.7rem;
    position: relative;
    padding: 0px;
    transform-style: preserve-3d;
    transform: rotateY(0deg);
    transition: transform 600ms ease-in-out;

  }

  .box__front,
  .box__back {
    position: absolute;
  
    backface-visibility: hidden;
  }

  .box__back {
    transform: rotateY(180deg);
    width: 100%;
    height: 100%;
  }

  .box:hover .box__content {
    transform: rotateY(180deg);
  }

   .houses {
    padding: 0px;
    width: 100%;
    height:100%;
    border-radius: 3rem;
  }
