/* ==================GERAL=====================*/
* {
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

:root {
  --primary-color: hsl(170, 100%, 26%);
  --headline: hsl(210, 11%, 15%);
  --paragraph: hsl(210, 9%, 31%);
  --background-button: hsl(0, 0%, 100%);
  --brand-beige: hsl(39, 100%, 97%);
  --brand-light: hsl(148, 23%, 89%);
  --brnad-light2: hsl(180, 14%, 97%);
  --brand-dark: hsl(170, 100%, 14%);

  --nav-height: 7.2rem;

  font-size: 62.5%;
  /* 1rem = 10px */
}

body {
  font-family: "DM Sans";
  font-size: 1.6rem;
  background-color: none;
  text-align: center;
  overflow: overlay;
  background: none;
}

header footer {
  /*width: 375px;TELA MOBILE*/

  margin-bottom: 0rem;
  margin-top: 4rem;
  background-color: var(--primary-color);
  display: flex;
  flex-direction: row;
}


/* ==================NAVIGATION=====================*/

nav.scroll {
  width: 100vw;
  margin-right: auto;
  margin-left: auto;
  height: var(--nav-height);
  position: fixed;
  top: 0;

  background-color: var(--primary-color);
}

.explorer {
  display: flex;
  flex-direction: table-row;
}

.textRed {
  font-size: 7rem;
  font-weight: 900;
  color: red;
  padding-right: 1rem;
  padding-left: 5rem;

}

.textWhite {
  color: black;
  font-weight: 900;
  font-size: 4rem;
}

.floatMenu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 3rem;
  background-color: white;

}

.explorerFloatMenu {
  border: 1px solid black;
  border-radius: 1rem;
  width: 20rem;
  height: 8rem;
  align-items: center;
  justify-content: center;
  margin-right: 2rem;
  display: flex;

}

.explorerFloatMenu h3 {
  color: black;
  font-size: 1.3rem;
}

.photos {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

 .drawPhotos {
  display: flex;
  flex-direction: column;
}

.gridPhotosRefer {
  width: 70rem;
  height: 42rem;
}

.gridPhotos {
  width: 40rem;
  height: 20rem;
  margin-bottom: 2rem;
  margin-left: 2rem;
}

.photos button {
  position: fixed;
  top: 90rem;
  left: 9rem;
  color: white;
  background-color: black;
  transition: 400ms;
}

.photos button:hover {
  border: 1px solid white;
}

.articles {
  display: flex;
  flex-direction: row;
  width: auto;
  height: auto;
}

.articlesLeft {
  padding-left: 5rem;
  margin: auto;
  background-color: none;
  width: 50vw;
}

.articlesRight {
  padding-left: 5rem;
  margin: auto;
  width: 50vw;
  height: 100rem;
  background-color: none;
}

.containerAds {
  background: var(--brand-beige);
  border-radius: 2rem;
  width: 40rem;
  height: 35rem;
  margin: auto;
  margin-bottom: 3rem;
}

.containerArticles {
  background-color: none;
  border-radius: 2rem;
  border: 1px solid black;
  width: 45rem;
  height: 15.7rem;
  margin: auto;
  margin-bottom: 3rem;
  transition: 100ms;

}


.articleTitle {
  font-size: 2.2rem;
  padding-top: 2rem;
}

.articleParagraph {
  width: 40rem;
  font-size: 1.3rem;
  visibility: visible;

}

.linkStyle {
  text-decoration: none;
}

.imagesArticles {
  position: absolute;
  left: 70.7rem;
  top: 0rem;
  width: 10rem;
  height: 20.7rem;
  border-radius: 3rem;
  transition: 720ms;

}

.containerRow {
display: flex;
}



/*======================MOBILE======================================*/

@media screen and (max-width:800px) {
  header {
    width: 100vw;
    display: grid;
    place-items: center;
  }

.explorer {
  display: flex;
  flex-direction: table-row;
}

.textRed {
  font-size: 3rem;  
  padding: auto;
}

.textWhite {
  font-size: 1.9rem;
}

.explorerFloatMenu {
  border: 1px solid black;
  border-radius: 1rem;
  width: auto;
  padding: 1rem;
  margin-top: 3rem;
  height: 4rem;
  align-items: center;
  justify-content: center;
  margin-right: .2rem;
}

.drawPhotos {
  display: flex;
  flex-direction: column;
}

.gridPhotosRefer {
  width: 20rem;
  height: 20rem;
}

.gridPhotos {
  width: auto;
  height: 10rem;
  margin-bottom: 0.2rem;
  margin-left: 0.2rem;
}


  .articleParagraph {
    visibility: hidden;
    width: 3rem;
    height: 5rem;
  }

.articles {
  display: flex;
  flex-direction: column;

}
.articlesLeft {
  background-color: red;
  width: 100vw;
  margin-top: 3rem;
  display: flex;
  align-items: center;
}


.containerArticles {
  border-radius: 2rem;
  width: 30rem;
  height: 15.7rem;
  margin-bottom: 1rem;
  transition: 100ms;

}

.articlesRight {
  margin: auto;
  width: 30rem;
  height: 30rem;
}

.containerAds {
  border-radius: 2rem;
  width: auto;
  height: 30rem;
  margin: auto;

}
}