
:root {
  --primary-color: hsl(170, 100%, 26%);
  --headline: hsl(210, 11%, 15%);
  --paragraph: hsl(210, 9%, 31%);
  --background-button: hsl(0, 0%, 100%);
  --brand-beige: hsl(39, 100%, 97%);
  --brand-light: hsl(148, 23%, 89%);
  --brnad-light2: hsl(180, 14%, 97%);
  --brand-dark: hsl(170, 100%, 14%);
  --rich-black-fogra-29: hsl(210, 26%, 7%);
  --champagne-pink_20: hsla(23, 61%, 86%, 0.2);
  --independence_30: hsla(245, 17%, 29%, 0.3);
  --gray-x-11-gray: hsl(0, 0%, 73%);
  --champagne-pink: hsl(23, 61%, 86%);
  --spanish-gray: hsl(0, 0%, 60%);
  --sonic-silver: hsl(0, 0%, 47%);
  --deep-saffron: hsl(32, 100%, 59%);
  --dark-orange: hsl(28, 100%, 58%);
  --desert-sand: hsl(23, 49%, 82%);
  --isabelline: hsl(38, 44%, 96%);
  --gainsboro: hsl(0, 0%, 87%);
  --tangerine: hsl(31, 84%, 50%);
  --cinnabar: hsl(3, 90%, 55%);
  --black_95: hsla(0, 0%, 0%, 0.95);
  --cultured: hsl(0, 0%, 93%);
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0%);
  --onyx: hsl(0, 0%, 27%);

  --nav-height: 7.2rem;

  font-size: 62.5%;
  /* 1rem = 10px */
}

div footer {
  /*======width: 375px;TELA MOBILE=*/

  margin-bottom: 0rem;
  margin-top: 4rem;
  background-color: var(--primary-color);
  display: flex;
  flex-direction: row;
}

span {
  text-decoration: none;
  display: inline-block;
  color: var(--primary-color);
  font-weight: 700;
}

a:link {
  font-weight: 700;
  text-decoration: none;
  color: var(--primary-color);
}

a:hover {
 color: var(--dark-orange);
}
.containerOnly {
  padding-top: 0rem;
  width: 100rem;
  margin: auto;
  justify-content: center;

  background-color: var(--brnad-light2);
}

.articleTitle {
  display: flex;
  margin: auto;
  padding: auto;
  margin-top: 10rem;
  align-items: center;
}
.title {
  font-size: 5rem;
  position: absolute;
  top: 30rem;
  left: 20rem;
  color: var(--brnad-light2);
}

.titleTable {
  color: var(--primary-color);
  margin-left: 30rem;
}

.titlePt {
  margin-left: 5rem;
  font-size: 3rem;
  width: 30rem;
}

.paragraphPt {
  font-size: 1.6rem;
  text-align: justify;
  padding: auto;
  margin-bottom: 3rem;
  margin: 5rem;
}

.paragraphTree {
  text-align: justify;
  margin: 10rem;
}

.imageOne {
  width: 100rem;
  height: 40rem;
  border-radius: 1rem;
  display: flex;
  margin: auto;
}

.containerOnly h1 {
  color: var(--brand-dark);
  padding-top: 1rem;
  padding-bottom: 3rem;
  width: auto;
}

 .titleTable {
  color: var(--primary-color);
  margin-left: 30rem;
}

.titleLocal {
  color: var(--primary-color);
  font-size: 3rem;
  margin: auto;
  padding-top: 3rem;
  padding-bottom: 1rem;
}
.list {
  display: block;
  float: left;
  padding-left: 40rem;
  width: 100rem;
font-size: 1rem;
}

@media screen and (max-width:799px) {
  .imageOne {
    width: 35rem;
    height: 20rem;
    padding: 0;
    margin: auto;
  }

  .title {
    font-size: 3rem;
    position: absolute;
    top: 13rem;
    left: 4rem;
  }

.containerOnly {
  padding-top: 0rem;
  width: auto;
  margin: auto;
  justify-content: center;

  background-color: none;
}

  .containerOnly p {
    width: 35rem;
  }

  .titleTable {
    margin: auto;
  }

  .paragraphPt {
    font-size: 1.3rem;
    text-align: justify;
    margin: auto;
  }

  .list {
    display: block;
    padding-left: 0rem;
    width: 40rem;
    font-size: 1rem;
  }

  .containerColumn {
    display: flex;
    flex-direction: column;
  }
}
