div footer {
  /*======width: 375px;TELA MOBILE=*/

  margin-bottom: 0rem;
  margin-top: 4rem;
  background-color: var(--primary-color);
  display: flex;
  flex-direction: row;
}

.containerOnly {
  padding-top: 0rem;
  width: 100rem;
  margin: auto;
  justify-content: center;

  background-color: var(--brnad-light2);
}
.articleTitle {
  display: flex;
  margin: auto;
  padding: auto;
  margin-top: 10rem;
  align-items: center;
}
.title {
  font-size: 5rem;
  position: absolute;
  top: 30rem;
  left: 20rem;
  color: var(--brnad-light2);
}

.titleTable {
  color: var(--primary-color);
  margin-left: 30rem;
}

.titlePt {
  margin-left: 5rem;
  font-size: 3rem;
  width: 30rem;
}

.paragraphPt {
  font-size: 1.6rem;
  text-align: justify;
  padding: auto;
  margin-bottom: 3rem;
  margin: 5rem;
}

.paragraphTree {
  text-align: justify;
  margin: 10rem;
}

.imageOne {
  width: 100rem;
  height: 40rem;
  border-radius: 1rem;
  display: flex;
  margin: auto;
}

.containerOnly h1 {
  color: var(--brand-dark);
  padding-top: 1rem;
  padding-bottom: 3rem;
  width: auto;
}

 .titleTable {
  color: var(--primary-color);
  margin-left: 30rem;
}

.titleLocal {
  color: var(--primary-color);
  font-size: 3rem;
  margin: auto;
  padding-top: 3rem;
  padding-bottom: 1rem;
}
.list {
  display: block;
  float: left;
  padding-left: 40rem;
  width: 100rem;
font-size: 1rem;
}

@media screen and (max-width:799px) {
  .imageOne {
    width: 35rem;
    height: 20rem;
    padding: 0;
    margin: auto;
  }

  .title {
    font-size: 3rem;
    position: absolute;
    top: 13rem;
    left: 1rem;
  }

.containerOnly {
  padding-top: 0rem;
  width: auto;
  margin: auto;
  justify-content: center;

  background-color: none;
}

  .containerOnly p {
    width: 35rem;
  }

  .titleTable {
    margin: auto;
  }

  .paragraphPt {
    font-size: 1.3rem;
    text-align: justify;
    margin: auto;
  }

  .list {
    display: block;
    padding-left: 0rem;
    width: 40rem;
    font-size: 1rem;
  }

  .containerColumn {
    display: flex;
    flex-direction: column;
  }
}
